@font-face {
  font-family:"Roboto";
  font-weight:700;
  font-style:normal;
  src:url(../fonts/Robotobold.woff2) format("woff2"),
  url(../fonts/Robotobold.woff) format("woff");
}
@font-face {
  font-family:"Roboto";
  font-weight:400;
  font-style:normal;
  src:url(../fonts/Roboto.woff2) format("woff2"),
  url(../fonts/Roboto.woff) format("woff");
}
body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 15px;
  line-height: 140%;
  color: $black;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  color: $white;
  &:hover{
  	text-decoration: none;
		color: darken($white, 40%);
  }
}
