.main-footer{
  background-image:  linear-gradient(to bottom, $white, $green);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
}
.footer-menu  ul{
  display: flex;
  padding: 20px;
  list-style: none;
  flex-wrap: wrap;
  & li{
    margin: 20px;
  }
}
