.main-footer{
  background-image:  linear-gradient(to bottom, $white, $green);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.footer-menu__link{
  color: $dark-grey;
  padding-bottom: 10px;

}
.footer-menu__items{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  & li{
    margin: 10px 25px 15px 0;
    min-width:  45%;
    border-bottom: 1px solid $dark-grey;
  }
}
.footer-contact{
  margin-top: 10px;
  padding-left: 40px;
  color: $dark-grey;
  &__phone {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(/img/phone.svg);
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: $green;
      border-radius: 50%;
      box-shadow: 1px 1px 2px 2px $black;
      width: 20px;
      height: 20px;
      left: -34px;
    }
  }
  &__mail {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      background-image: url(/img/envelope.svg);
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: $green;
      border-radius: 50%;
      box-shadow: 1px 1px 2px 2px $black;
      width: 20px;
      height: 20px;
      left: -34px;
    }
  }
  &__adress{
    position: relative;
    &::before{
      content:"";
      position: absolute;
      background-image: url(/img/map-marker-alt.svg);
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-color: $green;
      border-radius: 50%;
      box-shadow: 1px 1px 2px 2px $black;
      width: 20px;
      height: 20px;
      left: -34px;
    }
  }
    &__clock{
      position: relative;
      &::before{
        content:"";
        position: absolute;
        background-image: url(/img/clock.svg);
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: $green;
        border-radius: 50%;
        box-shadow: 1px 1px 2px 2px $black;
        width: 20px;
        height: 20px;
        left: -34px;
        top: 5px;
      }
    }
  & a {
    color: inherit;
    &:hover {
    opacity: 0.7;
    }
  }
}
.footer-content{
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-bottom: 10px;
}
.footer-copyright{
  padding: 15px 0 10px;
  color: $white;
  font-size: 15px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
